[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
diffusers = "*"
pillow = "*"
openai = "*"
transformers = "*"
accelerate = "*"
numpy = "*"
scipy = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
black = "*"
types-pillow = "*"
types-requests = "*"

[requires]
python_version = "3.12"
